<div class="container px-0">
  <div class="row fixed-top">
    <mat-form-field appearance="fill" [color]="'primary'">
      <mat-label> Search Vault</mat-label>
      <input matInput type="text" />
      <button mat-icon-button matPrefix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="row fixed-bottom">
    <mat-tab-group class="align-items-center" [color]="'primary'" headerPosition="below">
      <mat-tab label="Vault">
        <ng-template mat-tab-label>
          <mat-icon class="material-icons">enhanced_encryption</mat-icon>
        </ng-template>
        <div class="container">
          <div class="row align-items-center">
            <app-vault></app-vault>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Generate Password">
        <ng-template mat-tab-label>
          <mat-icon class="material-icons">vpn_key</mat-icon>
        </ng-template>
        <div class="container">
          <div class="row align-items-center">
            <app-random-password-setting></app-random-password-setting>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="settings">
        <ng-template mat-tab-label>
          <mat-icon class="material-icons">settings</mat-icon>
        </ng-template>
        <app-settings></app-settings>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>