<div class="container-flex my-6">
  <div class="row my-2 mx-2">
    <button
      mat-raised-button
      *ngIf="checkIfMasterPasswordPresent()"
      appStopProp
      appStopClick
      color="primary"
      [routerLink]="'/login'"
    >
      Login
    </button>
  </div>
  <div class="row my-3 mx-2">
    <button
      *ngIf="!checkIfMasterPasswordPresent()"
      appStopProp
      appStopClick
      mat-raised-button
      color="primary"
      [routerLink]="'/main'"
    >
      Create Account
    </button>
  </div>
  <div class="row my-3 mx-2">
    <button
      appStopProp
      appStopClick
      mat-raised-button
      [routerLink]="'/password-generator-settings'"
    >
      Generate Password
    </button>
  </div>
</div>
