<div class="container-flex mt-5">
  <div class="row mb-2">
    <p>Hash Password Manager</p>
  </div>
  <div class="row mx-2 align-items-center">
    <img src="../../../assets/security_2.svg" alt="Image" height="190px" />
  </div>
  <div class="row mb-2 mx-2">
    <button mat-raised-button *ngIf="checkIfMasterPasswordPresent()" appStopProp appStopClick color="primary"
      [routerLink]="'/login'">
      Login
    </button>
  </div>
  <div class="row mb-2 mx-2">
    <button *ngIf="!checkIfMasterPasswordPresent()" appStopProp appStopClick mat-raised-button color="primary"
      [routerLink]="'/new-user'">
      Create Account
    </button>
  </div>
  <div class="row mx-2">
    <button appStopProp appStopClick mat-raised-button [routerLink]="'/password-generator-settings'">
      Generate Password
    </button>
  </div>
</div>