<div class="container-fluid m-0 p-0">
  <div class="row title align-middle">
    <mat-divider></mat-divider>
    <div class="title-text">Logins</div>
    <mat-divider></mat-divider>
  </div>

  <div class="row px-0" [ngSwitch]="vaultStatus">
    <app-vault-list *ngSwitchCase="vaultStatusEnum.loaded" [vaultItems]="vaultItems$ | async"></app-vault-list>
    <app-display-text *ngSwitchCase="vaultStatusEnum.failedLoading" [text]="'Failed to load vault!'" [type]="'danger'">
    </app-display-text>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col"></div>
    <div class="col">
      <button mat-stroked-button color="primary" (click)="addVaultItem()">Add Item</button>
    </div>
    <div class="col"></div>
  </div>
</div>
