<div class="remove-margin container-fluid">
  <div class="row" *ngIf="!this.authService.isLoggedIn">
    <div class="remove-margin pos-f-t">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              <mat-toolbar>
                <button appStopProp appBlurClick appStopClick mat-icon-button>
                  <mat-icon>menu</mat-icon>
                </button>

                <span class="example-spacer"></span>
                <span>{{ appName }}</span>
              </mat-toolbar>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-settings></app-settings>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div class="row" *ngIf="this.authService.isLoggedIn">
    <mat-toolbar>
      <span> {{ appName }}</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </div>
</div>
