<div class="container px-0">
  <mat-selection-list [multiple]="false" [disableRipple]="true">
    <mat-list-option *ngFor="let vaultItem of vaultItems$ | async">
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div style="display: flex; align-items: center">
          <mat-icon matListAvatar>public</mat-icon>

          <div style="display: flex; flex-direction: column">
            <div>
              <h3 matLine>{{ vaultItem.url }}</h3>
            </div>
            <div style="margin-top: -30px">
              <p matLine>
                {{ vaultItem.username }}
              </p>
            </div>
          </div>
        </div>
        <div>
          <button appStopClick appBlurClick appStopProp mat-icon-button>
            <mat-icon>content_copy</mat-icon>
          </button>
          <button
            [routerLink]="['/vault-item', vaultItem.id]"
            appStopClick
            appBlurClick
            appStopProp
            mat-icon-button
          >
            <mat-icon>open_in_new</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-option>
  </mat-selection-list>
</div>
