<div class="container-flex">
  <form>
    <div class="form-group row">
      <label for="email">Username</label>
      <input
        #usr
        type="text"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        placeholder="Username"
      />
    </div>
    <div class="form-group row">
      <label for="Password">Password</label>
      <div class="input-group px-0">
        <input
          #pwd
          type="{{ showPassword ? 'text' : 'password' }}"
          class="form-control"
          aria-label="Password"
          placeholder="Password"
        />
        <div class="input-group-append">
          <button
            type="button"
            class="btn btn-light"
            data-toggle="tooltip"
            data-placement="bottom"
            title=" {{ showPassword ? 'Hide Password' : 'Show Password' }}"
            (click)="togglePassword()"
          >
            {{ showPassword ? "😑" : "🤑" }}
          </button>
        </div>
      </div>
    </div>
    <div
      *ngIf="isLoginFailed"
      class="alert alert-danger py-1 align-items-center"
      role="alert"
    >
      Incorrect Password!
    </div>
    <div class="row pull-right submit-button">
      <button
        appStopProp
        appStopClick
        type="submit"
        class="btn btn-primary btn-block"
        (click)="onSubmit(usr.value, pwd.value)"
      >
        Login
      </button>
    </div>
    <div class="row pull-right submit-button">
      <button
        appStopProp
        appStopClick
        type="submit"
        class="btn btn-secondary btn-block"
        [routerLink]="'/home'"
      >
        Back
      </button>
    </div>
  </form>
</div>
