<div class="parent" p-0 m-0>
  <mat-toolbar>
    <span>{{ readOnly ? "Item Information" : "Item Information*" }}</span>
  </mat-toolbar>
  <div class="container-flex">
    <form [formGroup]="vaultItemForm">
      <!-- Name -->
      <div class="row">
        <mat-form-field appearance="standard">
          <mat-label>{{
            name.dirty && name.value !== vaultItem.name ? "Name*" : "Name"
            }}</mat-label>
          <input formControlName="name" type="text" [value]="vaultItem.name" [readonly]="readOnly" matInput />
        </mat-form-field>
      </div>

      <!-- Username -->
      <div class="row">
        <mat-form-field appearance="standard">
          <mat-label>{{
            username.dirty && username.value !== vaultItem.username
            ? "Username*"
            : "Username"
            }}</mat-label>
          <input formControlName="username" [type]="hideUsername ? 'password' : 'text'" [value]="vaultItem.username"
            [readonly]="readOnly" matInput />
          <div matSuffix style="display: flex">
            <button type="button" mat-icon-button (click)="hideUsername = !hideUsername"
              [attr.aria-label]="'Hide Username'">
              <mat-icon>
                {{ hideUsername ? "visibility_off" : "visibility" }}
              </mat-icon>
            </button>
            <button type="button" mat-icon-button aria-label="Copy" (click)="
                  copyToClipboard(this.username.value, 'Username Copied')
                ">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </mat-form-field>
      </div>

      <!-- Password -->
      <div class="row">
        <mat-form-field appearance="standard">
          <mat-label>{{
            password.dirty && password.value !== vaultItem.password
            ? "Password*"
            : "Password"
            }}</mat-label>
          <input [value]="vaultItem.password" formControlName="password" [type]="hidePassword ? 'password' : 'text'"
            [readonly]="readOnly" matInput />
          <div matSuffix style="display: flex">
            <button type="button" mat-icon-button (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Hide Password'">
              <mat-icon>
                {{ hidePassword ? "visibility_off" : "visibility" }}
              </mat-icon>
            </button>
            <button type="button" mat-icon-button aria-label="Copy" (click)="
                  copyToClipboard(this.password.value, 'Password Copied')
                ">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </mat-form-field>
      </div>

      <!-- url -->
      <div class="row">
        <mat-form-field>
          <mat-label>Url</mat-label>
          <input type="text" [value]="vaultItem.url" [readonly]="readOnly" matInput />
        </mat-form-field>
      </div>

      <div class="row justify-content-between mx-0">
        <div class="col d-flex justify-content-start">
          <button mat-raised-button type="button" [color]="readOnly ? 'primary' : 'warn'" appStopProp appBlurClick
            appStopClick (click)="edit()">
            {{ readOnly ? "Edit" : "Save" }}
          </button>
        </div>
        <div class="col d-flex justify-content-end">
          <button mat-raised-button type="button" appStopProp appBlurClick appStopClick (click)="back()">
            Back
          </button>
        </div>
      </div>
    </form>
  </div>
</div>