<div class="container pt-2 mx-2 px-0 pb-2">
  <div class="row align-items-center mx-0">
    <div class="row">
      <mat-label>Length</mat-label>
    </div>

    <div class="col-1">
      <span>{{ settings.minLength }}</span>
    </div>

    <div class="col-auto mr-0 pr-0">
      <mat-slider color="primary" thumbLabel [(value)]="currentSelectedLength" [step]="1" [min]="settings.minLength"
        [max]="settings.maxLength">
      </mat-slider>
    </div>

    <div class="col-1">
      <span>{{ settings.maxLength }}</span>
    </div>

    <div class="col-1">
      <button class="badge" mat-mini-fab color="primary">
        {{ currentSelectedLength }}
      </button>
    </div>
  </div>
  <!-- Lowercase -->

  <div class="row align-items-center mx-0">
    <mat-label>Minimum Lowercase Character</mat-label>

    <div class="col-1">
      <span>{{ settings.defaultMinLowerLength }}</span>
    </div>

    <div class="col-auto mr-0 pr-0">
      <mat-slider color="primary" thumbLabel [(value)]="currentSelectedLowerLength" [step]="1"
        [min]="settings.defaultMinLowerLength" [max]="maxLowerLength">
      </mat-slider>
    </div>

    <div class="col-1">
      <span>{{ maxLowerLength }}</span>
    </div>

    <div class="col-1">
      <button class="badge" mat-mini-fab color="primary">
        {{ currentSelectedLowerLength }}
      </button>
    </div>
  </div>

  <!-- Uppercase -->
  <div class="row align-items-center mx-0">
    <mat-label>Minimum Uppercase Character</mat-label>

    <div class="col-1">
      <span>{{ settings.defaultMinUpperLength }}</span>
    </div>

    <div class="col-auto mr-0 pr-0">
      <mat-slider color="primary" thumbLabel [(value)]="currentSelectedUpperLength" [step]="1"
        [min]="settings.defaultMinUpperLength" [max]="maxUpperLength">
      </mat-slider>
    </div>

    <div class="col-1">
      <span>{{ maxUpperLength }}</span>
    </div>

    <div class="col-1">
      <button class="badge" mat-mini-fab color="primary">
        {{ currentSelectedUpperLength }}
      </button>
    </div>
  </div>

  <!-- Digits -->
  <div class="row align-items-center mx-0">
    <mat-label>Minimum Digits</mat-label>

    <div class="col-1">
      <span>{{ settings.defaultMinDigitLength }}</span>
    </div>

    <div class="col-auto mr-0 pr-0">
      <mat-slider color="primary" thumbLabel [(value)]="currentSelectedDigitLength" [step]="1"
        [min]="settings.defaultMinDigitLength" [max]="maxDigitLength">
      </mat-slider>
    </div>

    <div class="col-1">
      <span>{{ maxDigitLength }}</span>
    </div>

    <div class="col-1">
      <button class="badge" mat-mini-fab color="primary">
        {{ currentSelectedDigitLength }}
      </button>
    </div>
  </div>

  <!-- Special Characters -->
  <div class="row align-items-center mx-0">
    <div class="row">
      <mat-label>Minimum Special Character</mat-label>
    </div>
    <div class="col-1">
      <mat-label>{{ settings.defaultMinSpecialLength }}</mat-label>
    </div>

    <div class="col-auto mr-0 pr-0">
      <mat-slider color="primary" thumbLabel [(value)]="currentSelectedSpecialLength" [step]="1"
        [min]="settings.defaultMinSpecialLength" [max]="maxSpecialLength">
      </mat-slider>
    </div>

    <div class="col-1">
      <mat-label>{{ maxSpecialLength }}</mat-label>
    </div>

    <div class="col-1">
      <button class="badge" mat-mini-fab color="primary">
        {{ currentSelectedSpecialLength }}
      </button>
    </div>
  </div>
  <mat-error *ngIf="!isValidValues()">
    {{ errorMsg }}
  </mat-error>

  <div class="row align-items-center mx-0">
    <mat-form-field appearance="standard">
      <input matInput [(ngModel)]="generatedPassword" [type]="hide ? 'password' : 'text'" />

      <div matSuffix style="display: flex">
        <button mat-icon-button (click)="hide = !hide" [attr.aria-label]="'Hide Password'">
          <mat-icon>
            {{ hide ? "visibility_off" : "visibility" }}
          </mat-icon>
        </button>
        <button mat-icon-button aria-label="Copy" (click)="copyToClipboard()">
          <mat-icon>content_copy</mat-icon>
        </button>
      </div>
    </mat-form-field>
  </div>
  <div class="row justify-content-between mx-0">
    <div class="col">
      <button mat-raised-button color="primary" appStopProp appBlurClick appStopClick [disabled]="!isValidValues()"
        (click)="getPassword()">
        Generate
      </button>
    </div>
    <div class="col">
      <button mat-raised-button color="primary" appStopProp appBlurClick appStopClick [disabled]="!isValidValues()"
        (click)="back()">
        Back
      </button>
    </div>
  </div>
</div>