/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "../node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css";

button {
  border-style: none;
}

body {
  height: 500px;
  width: 400px;
}

.container-flex {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-6 {
  margin-top: ($spacer * 6) !important;
  margin-bottom: ($spacer * 6) !important;
}
