/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400&display=swap");

body {
  height: 500px;
  width: 400px;
  padding: 0rem;
  margin: 0rem;
}

.container-flex {
  max-width: 400px;
  margin-top: 1rem;
  margin-left: 0rem;
  margin-right: 0rem;
}

.my-6 {
  margin-top: ($spacer * 6) !important;
  margin-bottom: ($spacer * 6) !important;
}

:focus {
  outline: 0 !important;
}
